<div class="container" *ngIf="page as pageData; else pageNotFound">

    <button *ngIf="isLoggedIn && !editMode" (click)="editMode = !editMode" type="button" data-te-ripple-init data-te-ripple-color="light" class="inline-block rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700">
        Edit
    </button>
    <button *ngIf="editMode" (click)="addOrUpdatePage()" type="button" data-te-ripple-init data-te-ripple-color="light" class="inline-block rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700">
        Update
    </button>
    <input *ngIf="editMode" [(ngModel)]="pageData.name" type="text" placeholder="Page Title">
    <h1 class="title" *ngIf="!editMode">{{pageData.name}}</h1>
    <div *ngIf="editMode">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="page.content" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    </div>
    <div *ngIf="!editMode" [innerHTML]="pageData.content" class="mb-3 blog-post">
    </div>
</div>
<ng-template #pageNotFound>Page Not Found</ng-template>