<div class="container" *ngIf="page as pageData; else pageNotFound">

    <button *ngIf="isLoggedIn && !editMode" (click)="editMode = !editMode" class="btn" type="button">
        Edit
    </button>
    <button *ngIf="editMode" (click)="addOrUpdatePage()" type="button" class="btn">
        Update
    </button>
    <input *ngIf="editMode" [(ngModel)]="pageData.name" type="text" class="txt" placeholder="Page Title">
    <input *ngIf="editMode" [(ngModel)]="pageData.metaDescription" type="text" class="txt" placeholder="Meta Description">
    <h1 class="title" *ngIf="!editMode">{{pageData.name}}</h1>
    <div *ngIf="editMode">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="page.content" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    </div>
    <div *ngIf="!editMode" [innerHTML]="pageData.content" class="mb-3 blog-post">
    </div>
</div>
<ng-template #pageNotFound>Page Not Found</ng-template>