<header class="header">
  <a [routerLink]="['/home']" class="logo">
    Home
  </a>
  <nav>
    <a *ngIf="showLoginButton" (click)="authService.SigninWithGoogle()">
      Login
    </a>
    <a *ngIf="showLogoutButton" [routerLink]="['/about']">About</a>
    <a *ngIf="showLogoutButton" [routerLink]="['/page/new']">Write</a>
    <a *ngIf="showLogoutButton">{{ user?.displayName }}</a>
    <a *ngIf="showLogoutButton" (click)="authService.SignOut()">Log out</a>
  </nav>
</header>

<router-outlet></router-outlet>