<div class="mx-5 container flex flex-row">
	<div class="h-full shadow-md bg-white px-1 w-40">
		<ul class="relative" *ngFor="let page of pages | async">
			<li class="relative">
				<a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
					[routerLink]="'page/'+page['url']" data-mdb-ripple="true" data-mdb-ripple-color="dark">
					{{page["name"]}}
				</a>
			</li>
		</ul>
	</div>
	<div class="mx-7">
		<router-outlet></router-outlet>
	</div>
	<div>